* {
  font-family: 'Tinos', sans-serif;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2d2d2d;
  height: 1700px;
}

:root {
  --main-gold-color: #ceb888;
  --dark-gold-color: rgb(99, 93, 65);
}

h1 {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  z-index: 100;
  transition: all ease-in-out 0.2s;
}

.header-scroll {
  background-color: var(--main-gold-color);
  box-shadow: inset 0px -7px 0px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 0.2s;
  padding: 10px 20px;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  background-color: #2d2d2da2;
  min-width: 160px;
  z-index: 1;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  margin-top: 10px;
}

.dropdown-content.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-content a {
  color: rgb(195, 195, 195);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: var(--main-gold-color);
  box-shadow: none;
}

.logogroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .logogroup img {
  filter: brightness(0) invert(1);
  height: 60px;
  transition: all ease-in-out 0.2s;
}

.header-scroll .logogroup img {
  filter: brightness(0) invert(0);
  height: 50px;
  transition: all ease-in-out 0.2s;
}

header a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.3em;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all ease-in-out 0.2s;
  height: 100%;
}

.header-scroll a {
  color: black;
  font-size: 1em;
}

.header-scroll .dropdown-content {
  background-color: var(--main-gold-color);
}

header #contactbutton {
  background-color: var(--main-gold-color);
  color: black;
}

#contactbutton:hover {
  color: white;
}

#contactbutton:hover {
  color: black;
}

header a:hover {
  box-shadow: inset 0px -4px 0px -0px var(--main-gold-color);
  transition: all ease-in-out 0.2s;
}

.header-scroll a:hover {
  box-shadow: inset 0px -4px 0px -0px var(--dark-gold-color);
  transition: all ease-in-out 0.2s;
}

.splash {
  background-image: url(assets/splash-bg.png);
  background-size: cover;
  height: 900px;
  position: relative;
  box-shadow: inset 0px -20px 15px 0px rgba(0, 0, 0, 0.4);
}

.splashcontent {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
}

.splashcontenttext {
  position: absolute;
  width: 50%;
  left: 10%;
  top: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
}

.splashmain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  margin-bottom: 50px;
}

.splashcontenttext .splashsub {
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 6px;
  text-align: center;
  padding-left: 3px;
}

.splashimage {
  position: absolute;
  bottom: 0;
  right: 26%;
  height: 750px;
  padding-top: 50px;
  z-index: 2;
}

.splashimage2 {
  position: absolute;
  bottom: 0;
  right: 4%;
  height: 750px;
  padding-top: 50px;
  z-index: 1;
}

.splashtext {
  font-size: 3.5em;
  font-weight: 600;
  color: var(--main-gold-color);
  margin-bottom: -15px;
  letter-spacing: 1px;
  border: 3px solid var(--dark-gold-color);
  border-bottom: none;
  padding: 0px 30px 5px 30px;
}

.splash-content-wrapper {
  height: 400px;
  width: 100%;
  position: relative;
}

.splashpara {
  font-size: 1.1em;
  text-align: left;
  max-width: 80%;
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 25px;
}

.linewrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
  align-items: center;
  gap: 5px;
}

hr {
  width: 28%;
  height: 3px;
  background-color: var(--dark-gold-color);
  border: none;
}

.splashbuttongroup {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.splashbutton {
  background-color: var(--main-gold-color);
  color: black;
  padding: 20px 30px;
  border: none;
  font-size: 1.2em;
  font-weight: 700;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  box-shadow: 8px 8px 0px 3px var(--dark-gold-color);
}

.splashbutton:hover {
  background-color: white;
  transition: all ease-in-out 0.2s;
}

.splash-border-tag {
  position: absolute;
  bottom: -38px;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  width: 28%;
  background-color: var(--main-gold-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.splash-border-tag p {
  font-weight: bold;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.splash-border-tag img {
  height: 60px;
  margin-top: 5px;
}

.practiceareas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 8px 0px var(--main-gold-color);
  background-image: url(assets/test5.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

.practiceheader {
  width: 95%;
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.practiceheader h2 {
  font-size: 2em;
  font-weight: 600;
  color: var(--main-gold-color);
}

.serviceheader {
  width: 95%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.serviceheader h2 {
  font-size: 2em;
  font-weight: 600;
  color: var(--main-gold-color);
}

.practiceareas p {
  color: white;
  margin-top: 25px;
}

.hr2 {
  width: 70%;
  height: 3px;
  background-color: var(--dark-gold-color);
  border: none;
}

.practice-button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  max-width: 90%;
  flex-wrap: wrap;
}

.service-button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 70px;
  max-width: 90%;
  width: 90%;
  flex-wrap: wrap;
}

.practice-button {
  width: 30%;
  background-color: var(--main-gold-color);
  color: black;
  padding: 20px 30px;
  border: none;
  font-size: 1.2em;
  font-weight: 700;
  cursor: pointer;
  transition: all ease 0.2s;
  box-shadow: inset 0px -7px 0px var(--dark-gold-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.practice-button:hover {
  box-shadow: inset 0px -12px 0px var(--dark-gold-color);
  transition: all ease 0.2s;
  cursor: pointer;
  color: var(--dark-gold-color);
}

.practice-button span {
  font-size: 1.3em;
  margin-left: 20px;
}

.fa-angle-down,
.fa-angle-up {
  margin-left: 5px;
}

.splash2 {
  background-image: url(assets/splash2bg.png);
  background-position: left top;
  background-size: cover;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  border-top: 8px solid var(--main-gold-color);
  box-shadow: inset 0px 20px 15px 0px rgba(0, 0, 0, 0.4);
  border-bottom: 8px solid var(--main-gold-color);
}

.splash2content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  max-width: 40%;
  margin-left: 130px;
  color: white;
  margin-top: 150px;
}

.splash2content h2 {
  font-size: 3em;
  font-weight: 600;
  color: var(--main-gold-color);
  border-bottom: 3px solid var(--main-gold-color);
}

.splash2content p {
  font-size: 1.2em;
  font-weight: 300;
  max-width: 70%;
  line-height: 1.5em;
}

footer {
  background-color: #2d2d2d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: black;
  border-top: 3px solid var(--main-gold-color);
}

.footercontent {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  gap: 50px;
}

.footerleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 10px;
  width: 20%;
}

.footerright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 10px;
  width: 20%;
}

.footerstart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 10px;
  width: 20%;
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 1000px;
  background-image: url(assets/test5.png);
}

.map h2 {
  margin: 5lvb;
  color: var(--main-gold-color);
  font-size: 3em;
}

.mapembed,
.form {
  border: 3px solid var(--dark-gold-color);
  height: 500px;
  width: 100%;
}

.map-content-con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 90%;
}

.contact-section-middle {
  margin-top: 60px;
  color: gray;
  font-size: 2em;
  width: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-section-right,
.contact-section-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerhr {
  width: 90%;
  margin: 5px 0px;
}

.footerleft h2,
.footerright h2 {
  font-size: 1.4em;
  color: var(--main-gold-color);
}

.footerright p,
.footerleft p {
  font-size: 1em;
  font-weight: 300;
  color: var(--main-gold-color);
}

.socialmedia a {
  font-size: 1.5em;
  color: var(--main-gold-color);
}

.socialmedia {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.footerstart {
  width: 20%;
}

.footerlogo {
  width: 150px;
}

.footertext {
  color: rgb(149, 149, 149);
}

.footertext a,
.footerleft a {
  color: var(--main-gold-color);
}

.footerleft a span {
  opacity: 0;
  transition: margin ease-in-out 0.2s;
  margin-left: 0px;
}

.footerleft a {
  transition: all ease-in-out 0.2s;
}

.footerleft a:hover {
  cursor: pointer;
  color: white;
  transition: all ease-in-out 0.2s;
}

.footerleft a:hover span {
  opacity: 1;
  margin-left: 10px;
  transition: margin ease-in-out 0.2s;
}

.socialmedia a:hover {
  color: white;
  transition: all ease-in-out 0.2s;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 10px;
  background-color: #2d2d2d;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(68, 68, 68);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-gold-color);
}
